<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 style="font-weight:bold;">Analysis Result</h1>
    
    <!-- Form start -->
    <form action="/submit_analysis" method="post">
        <table>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ url }}</td>
            </tr>
            <tr>
                <td>Number of Sentences</td>
                <td>{{ num_sentences }}</td>
            </tr>
            <tr>
                <td>Number of Words</td>
                <td>{{ num_words }}</td>
            </tr>
            <tr>
                <td>Number of POS Tags</td>
                <td>{{ pos_tags }}</td>
            </tr>

             <tr>
                <td>Number of POS Tags</td>
                <td>{{ dict_upos }}</td>
            </tr>
        </table>
        
        <h2 style="color: red;">Cleaned News Text:</h2>

        <p>{{ clean_text }}</p>
        
    

        
    </form>
    <!-- Form end -->
</body>
</html>
